<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div class="card">
        Battery level: {{ batteryLevel() }}

        @if (batteryLevel() > 50)
        {
            <p [ngStyle]="fontSizeStyle">🔋</p>
        }
        @else if (batteryLevel() > 25 && batteryLevel() <= 50)
        {
            <p [ngStyle]="fontSizeStyle">🪫</p>
        }
        @else {
            <p [ngStyle]="fontSizeStyle">🫙</p>
        }

        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <button mat-flat-button (click)="ResetBattery()">
                <mat-icon>clear_all</mat-icon>
            </button>
            <button mat-flat-button (click)="IncreaseBattery(10)">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-flat-button (click)="DecreaseBattery(10)">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
    </div>
</div>